body {
    position: relative;
}

h1{
    font-family: 'Lato', sans-serif;
    font-size: 50px;
}

.titre{
    text-align: left;
    margin-left: 100px;
    font-size: 70px;
}

.btn{
    height: 80px;
    width: 150px;
    padding: .5rem;
    background-color: transparent;
    /*border: none;*/
    border-color: black;
    border-width: medium;
    border-radius: 4px;
    margin: 4px;
    font-family: 'Noto Serif', serif;
    float: left;
    margin-left: 100px;
}

.btn:hover{

}

.banniere{
    height: 700px;
    background-color: #fff;
    background-image: url(../images/backHomePage.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: black;
    text-align: center;
    padding-top: 15%;
}
.affix {
    top: 0;
    width: 100%;
    z-index: 999;
}

.navbar {
    margin-bottom: 0px;
}

.affix ~ .container-fluid {
    position: relative;
    top: 5px;
}

#section1 {
    padding-top: 50px;
    height: 500px;
    color: black;
    background-color: #fff;
}

#section2 {
    padding-top: 50px;
    height: 500px;
    color: black;
    background-color: black;
    /*background-image: url(../images/pattern.jpg);
    background-repeat: no-repeat;
    background-size: 100%;*/
}

#section3 {
    padding-top: 50px;
    height: 500px;
    color: black;
    background-color: #fff;
}

.block{
    text-align: center;
}

.btn-section-3{
    height: 20px;
}

.formulaire{
    background-color: black;
    color: white;
    height: 1200px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}